@media screen and (min-width: 668px) {
  header {
    box-shadow: 0 0.25vw 0.5vw #858585;
    margin-bottom: 0.45vw;
    width: 100%;
  }
  header h1.logo {
    font-size: 3.5vw;
    padding-top: 1.5vw;
    padding-bottom: 1vw;
  }
  main {
    display: flex;
    flex-direction: row;
  }
  main aside {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
  }
  main aside section.geolocalisation {
    padding: 1.5vw;
  }
  main aside section.geolocalisation h2 {
    font-size: 1.5vw;
  }
  main aside section.geolocalisation h2 .material-icons {
    font-size: 2vw;
    margin-right: 2vw;
  }
  main aside section.geolocalisation::after {
    box-shadow: 0vw 0.25rem 0.5rem #858585;
  }
  main aside section.presentations {
    padding: 3vw 2vw;
  }
  main aside section.presentations h2:nth-child(1) {
    font-size: 2.5vw;
    padding-bottom: 2vw;
  }
  main aside section.presentations p:nth-child(2) {
    font-size: 1.75vw;
    padding-bottom: 1vw;
    margin-bottom: 3vw;
  }
  main aside section.presentations button {
    font-size: 1.5vw;
    border-radius: 7vw;
    padding: 1.5vw 2vw;
    box-shadow: 0 5px 7px #858585;
  }
  main aside section.presentations button::after {
    box-shadow: 0 3px 5px #777;
  }
  main aside section.utilisation {
    padding: 3vw 0 2vw 0;
  }
  main aside section.utilisation h2:nth-child(1) {
    padding-left: 3vw;
    font-size: 2.5vw;
    padding-bottom: 5vw;
  }
  main aside section.utilisation div.utilisation-application {
    border-radius: 1rem;
    padding: 2vw 1.75vw;
    margin-bottom: 2rem;
    box-shadow: 0 3px 7px #dcdcdc;
    font-size: 0.85rem;
  }
  main aside section.utilisation div.utilisation-application p .icons-utilisation {
    margin: 1vw 2vw;
    font-size: 1rem;
  }
  main aside section.utilisation div.utilisation-application p .fa-mobile-alt, main aside section.utilisation div.utilisation-application p .fa-desktop {
    display: none;
  }
  main aside section.utilisation div.utilisation-application p .fa-tablet-alt {
    display: inline-block;
  }
  main aside section.utilisation div.utilisation-application::before {
    padding: 0.2rem 0.5rem;
    margin-right: 3vw;
    margin-left: 0.5rem;
    font-size: 1rem;
    left: -1rem;
    top: 1.75rem;
  }
  main aside section.utilisation div.utilisation-application::after {
    border-radius: 1rem;
    box-shadow: 0 3px 7px #b3b3b3;
  }
  main nav.nos-restaurants {
    flex-basis: 65%;
    padding-top: 2vw;
    padding: 5vw 0 3vw 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main nav.nos-restaurants h2 {
    padding-bottom: 3vw;
    font-size: 2.5vw;
    flex-basis: 100%;
    text-align: center;
  }
  main nav.nos-restaurants div.restaurants-home {
    flex: 1 1 50%;
    padding: 1vw;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-image a img {
    border-radius: 1.5vw 1.5vw 0 0;
    max-width: 95%;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-image .logo-nouveau {
    top: 1vw;
    right: 1vw;
    padding: 1vw 2.25vw;
    border-radius: 0.75vw;
    font-size: 1.5vw;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-nom-et-ville {
    padding: 1vw 3vw;
    border-radius: 0 0 1.5vw 1.5vw;
    max-width: 95%;
    margin-bottom: 2vw;
    box-shadow: 0 1vw 1.5vw #e6e6e6;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-nom-et-ville h3 {
    font-size: 1.75vw;
    padding: 0.25vw;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-nom-et-ville p:nth-child(4) {
    font-size: 1.5vw;
    padding: 0.25vw;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-nom-et-ville .petit-coeur {
    top: 2vw;
    right: 3vw;
    font-size: 2.5vw;
    float: right;
  }
  footer {
    padding: unset;
    display: flex;
    flex-direction: row;
  }
  footer h2 {
    font-size: 2.5vw;
    padding: 1.5vw 3vw;
    flex: 1;
  }
  footer p {
    font-size: 1.5vw;
    margin-right: 2vw;
    padding-top: 2vw;
  }
  footer p .icons-footer {
    font-size: 1.25vw;
    padding-right: 2.25vw;
    width: 2vw;
  }
}
