@media all and (min-width: 1268px) {
  header {
    box-shadow: 0 1rem 1.5rem #cfcfcf;
    margin-bottom: 1rem;
  }
  header h2.logo {
    font-size: 2.5rem;
    padding-top: 2rem;
  }
  main {
    flex-direction: row;
  }
  main aside section.geolocalisation {
    padding: 1rem;
  }
  main aside section.geolocalisation h2 {
    font-size: 1rem;
  }
  main aside section.geolocalisation h2 .material-icons {
    font-size: 1.25rem;
    margin-right: 1rem;
  }
  main aside section.presentations {
    padding: 2.5rem 1.5rem;
  }
  main aside section.presentations h2:nth-child(1) {
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }
  main aside section.presentations p:nth-child(2) {
    font-size: 1.25rem;
    padding-bottom: 4rem;
  }
  main aside section.presentations button {
    font-size: 1.25rem;
    border-radius: 10rem;
    padding: 1rem 2rem;
    box-shadow: 0 5px 7px #888;
  }
  main aside section.presentations button::after {
    box-shadow: 0 5px 7px #666;
  }
  main aside section.utilisation {
    padding: 3rem 0 2rem;
  }
  main aside section.utilisation h2:nth-child(1) {
    font-size: 1.5rem;
    padding-left: 6rem;
    padding-bottom: 3.8vw;
  }
  main aside section.utilisation div.utilisation-application {
    width: 85%;
    border-radius: 1rem;
    padding: 2rem  1rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 0.75rem #888;
    font-size: 1.15rem;
  }
  main aside section.utilisation div.utilisation-application p .icons-utilisation {
    margin: 0  2rem;
    font-size: 1rem;
  }
  main aside section.utilisation div.utilisation-application p .fa-mobile-alt, main aside section.utilisation div.utilisation-application p .fa-tablet-alt {
    display: none;
  }
  main aside section.utilisation div.utilisation-application p .fa-desktop {
    display: inline-block;
  }
  main aside section.utilisation div.utilisation-application::before {
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
    font-size: 0.75rem;
    left: 1rem;
  }
  main aside section.utilisation div.utilisation-application::after {
    border-radius: 1rem;
    box-shadow: 0 3px 7px #b3b3b3;
  }
  main nav.nos-restaurants {
    padding-top: 3.5rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  main nav.nos-restaurants h2 {
    padding: 2rem 0 4rem;
    padding-left: 4rem;
    font-size: 1.75rem;
    flex-basis: 100%;
  }
  main nav.nos-restaurants div.restaurants-home {
    border: 1px solid green;
    margin-bottom: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-image {
    box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem 0 0 1rem;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-image a img {
    display: block;
    border-radius: 1rem 0 0 1rem;
    max-width: 20%;
    height: auto;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-image .logo-nouveau {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5vw;
    font-size: 0.75rem;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-nom-et-ville {
    padding: 1.5rem 1.5rem;
    max-width: 25rem;
    box-shadow: 0 0.5rem 0.75rem #4d4d4d;
    border-radius: 0 1rem 1rem 0;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-nom-et-ville h3 {
    font-size: 1.5rem;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-nom-et-ville p:nth-child(4) {
    font-size: 1rem;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-nom-et-ville .petit-coeur {
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
  }
  footer {
    display: flex;
    flex-direction: row;
  }
  footer h2 {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    flex: 1;
  }
  footer p {
    font-size: 1rem;
    margin-right: 1rem;
    padding-top: 1.5rem;
    padding-right: 2rem;
  }
  footer p .icons-footer {
    font-size: 0.75rem;
    padding-right: 1.25rem;
    width: 1rem;
  }
}
