@charset "UTF-8";
@media all and (min-width: 1268px) {
  header {
    -webkit-box-shadow: 0 0.35rem 0.45rem #858585;
            box-shadow: 0 0.35rem 0.45rem #858585;
    margin-bottom: 0.5rem;
  }
  header h1.logo {
    font-size: 2.5rem;
    padding-top: 1.5rem;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main aside {
    /* flex-basis: 30%; */
  }
  main aside section.geolocalisation {
    padding: 1rem;
  }
  main aside section.geolocalisation h2 {
    font-size: 1rem;
  }
  main aside section.geolocalisation h2 .material-icons {
    font-size: 1.25rem;
    margin-right: 1rem;
  }
  main aside section.presentations {
    padding: 2.5rem 1.5rem;
  }
  main aside section.presentations h2:nth-child(1) {
    /* Réservez votre menu*/
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
  main aside section.presentations p:nth-child(2) {
    font-size: 1.25rem;
    padding-bottom: 2rem;
  }
  main aside section.presentations button {
    font-size: 1.25rem;
    border-radius: 10rem;
    padding: 1rem 2rem;
    -webkit-box-shadow: 0 5px 7px #858585;
            box-shadow: 0 5px 7px #858585;
  }
  main aside section.utilisation {
    padding: 3rem 0 2rem;
  }
  main aside section.utilisation h2:nth-child(1) {
    /* Comment utiliser*/
    font-size: 1.5rem;
    padding-left: 6rem;
    padding-bottom: 3.8vw;
  }
  main aside section.utilisation div.utilisation-application {
    border-radius: 1rem;
    padding: 3rem  1rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0 0.5rem 0.75rem #858585;
            box-shadow: 0 0.5rem 0.75rem #858585;
    font-size: 1.25rem;
  }
  main aside section.utilisation div.utilisation-application p .icons-utilisation {
    margin: 0  2rem;
    font-size: 2rem;
  }
  main aside section.utilisation div.utilisation-application p .fa-mobile-alt, main aside section.utilisation div.utilisation-application p .fa-tablet-alt {
    display: none;
  }
  main aside section.utilisation div.utilisation-application p .fa-desktop {
    display: inline-block;
  }
  main aside section.utilisation div.utilisation-application::before {
    padding: 0.5rem 0.75rem;
    margin-right: 0.5rem;
    font-size: 0.75rem;
    left: -1.25rem;
    top: 3rem;
  }
  main aside section.utilisation div.utilisation-application::after {
    border-radius: 1rem;
    -webkit-box-shadow: 0 3px 7px #b3b3b3;
            box-shadow: 0 3px 7px #b3b3b3;
  }
  main nav.nos-restaurants {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main nav.nos-restaurants h2 {
    padding-bottom: 2rem;
    padding-left: 4rem;
    font-size: 1.75rem;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  main nav.nos-restaurants div.restaurants-home {
    margin-bottom: 3rem;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-image {
    max-width: 35%;
    -webkit-box-shadow: 0 0.5rem 0.75rem #4d4d4d;
            box-shadow: 0 0.5rem 0.75rem #4d4d4d;
    border-radius: 1rem 0 0 1rem;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-image a img {
    display: block;
    border-radius: 1rem 0 0 1rem;
    max-width: 100%;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-image .logo-nouveau {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5vw;
    font-size: 1.1rem;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-nom-et-ville {
    margin: 0;
    -webkit-box-flex: 0.75;
        -ms-flex: 0.75;
            flex: 0.75;
    -webkit-box-shadow: 0 0.5rem 0.75rem #4d4d4d;
            box-shadow: 0 0.5rem 0.75rem #4d4d4d;
    border-radius: 0 1rem 1rem 0;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-nom-et-ville h3 {
    font-size: 1.5rem;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-nom-et-ville p:nth-child(4) {
    font-size: 1.25rem;
    padding: 0;
  }
  main nav.nos-restaurants div.restaurants-home div.contenaires-nom-et-ville .petit-coeur {
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer h2 {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer p {
    font-size: 1rem;
    margin-right: 1rem;
    padding-top: 1.5rem;
    padding-right: 2rem;
  }
  footer p .icons-footer {
    font-size: 0.75rem;
    padding-right: 1.25rem;
    width: 1rem;
  }
}
