* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes centrage-texte {
  0% {
  }
  100% {
    transform: translateY(20vh) scale(1.2);
    opacity: 1;
  }
}

@keyframes animate-rings {
  0% {
    transform: translateZ(75px);
  }
  50% {
    transform: translateZ(-75px);
  }
  90% {
    transform: translateZ(75px);
  }
  100% {
    opacity: 0;
  }
}

@keyframes chargement-texte {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes continuer {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes apparition-home {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zooming {
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(1.1);
  }
  15%, 100%, 0% {
    transform: scale(1);
  }
}

@keyframes coeur-remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: "Roboto", sans-serif;
  opacity: 0;
  animation: apparition-home 1000ms forwards;
  background-color: #fff;
}

header {
  box-shadow: 0 0.5vw 1.5vw #888;
  text-align: center;
  position: relative;
  margin-bottom: 1vw;
}

header h1.logo {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 8vw;
  padding-top: 3.2vw;
  padding-bottom: 2vw;
}

main aside section.geolocalisation {
  background: #eaeaea;
  padding: 3.7vw;
  text-align: center;
  position: relative;
  z-index: 1;
}

main aside section.geolocalisation h2 {
  font-weight: 500;
  font-size: 4.15vw;
  cursor: pointer;
}

main aside section.geolocalisation h2 .material-icons {
  font-size: 5vw;
  margin-right: 3vw;
}

main aside section.geolocalisation::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(175deg, white, #e2d2f4);
  box-shadow: 0 0.75vw 1.5vw #888;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

main aside section.geolocalisation:hover::after {
  opacity: 1;
}

main aside section.presentations {
  padding: 10vw 3vw 14vw;
  background: #f6f6f6;
  text-align: center;
}

main aside section.presentations h2:nth-child(1) {
  font-weight: bold;
  font-size: 6.75vw;
  padding-bottom: 10.2vw;
}

main aside section.presentations p:nth-child(2) {
  font-weight: 300;
  font-size: 5vw;
  color: #656565;
  margin-bottom: 8vw;
  width: 95%;
}

main aside section.presentations button {
  display: inline-block;
  font-size: 4.25vw;
  font-weight: 400;
  border-radius: 7vw;
  border: none;
  padding: 4.5vw 7vw;
  background: linear-gradient(175deg, #FF79DA, #9356D7);
  box-shadow: 0 0.5vw 1.5vw #888;
  margin-left: auto;
  margin-right: auto;
  color: white;
  cursor: pointer;
  position: relative;
  /* next 2: animation design */
  z-index: 1;
}

main aside section.presentations button::after {
  content: "";
  border-radius: 7vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(175deg, #ff93e1, #a06bdc);
  background-color: #9356D7;
  box-shadow: 0 0.75vw 2vw #666;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

main aside section.presentations button:hover::after {
  opacity: 1;
}

main aside section.utilisation {
  padding: 12.8vw 0 11vw 0;
  counter-reset: item;
  position: relative;
}

main aside section.utilisation h2:nth-child(1) {
  padding-left: 5vw;
  font-weight: bold;
  font-size: 6.5vw;
  text-align: left;
  padding-bottom: 6.8vw;
}

main aside section.utilisation div.utilisation-application {
  background: #f6f6f6;
  width: 85%;
  margin: auto;
  border-radius: 5vw;
  padding: 7.25vw 6vw;
  margin-bottom: 6vw;
  box-shadow: 0vw 1.5vw 2vw #e6e6e6;
  font-size: 4.5vw;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

main aside section.utilisation div.utilisation-application p .icons-utilisation {
  margin: 0 7vw 0 3vw;
  color: grey;
  font-size: 5vw;
}

main aside section.utilisation div.utilisation-application p .fa-tablet-alt, main aside section.utilisation div.utilisation-application p .fa-desktop {
  display: none;
}

main aside section.utilisation div.utilisation-application p .fa-store {
  color: #9356D7;
}

main aside section.utilisation div.utilisation-application .utilisation-application:nth-of-type(3) {
  background: #f7edfe;
}

main aside section.utilisation div.utilisation-application::before {
  z-index: 1;
  counter-increment: item;
  content: counter(item);
  background: grey;
  padding: 1vw 2.25vw;
  margin-right: 5vw;
  display: inline-block;
  border-radius: 50%;
  color: white;
  font-size: 3.75vw;
  font-weight: 500;
  background: #9356D7;
  position: absolute;
  left: -2.5vw;
}

main aside section.utilisation div.utilisation-application::after {
  border-radius: 5vw;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fafafa;
  box-shadow: 0vw 1.5vw 2vw #e6e6e6;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

main aside section.utilisation div.utilisation-application:hover::after {
  opacity: 1;
}

main nav.nos-restaurants {
  background: #f6f6f5;
  padding: 15vw 0 12vw 0;
  text-align: left;
}

main nav.nos-restaurants h2 {
  margin-left: 5vw;
  padding-bottom: 5vw;
}

main nav.nos-restaurants div.contenaires-image {
  position: relative;
}

main nav.nos-restaurants div.contenaires-image a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3vw 3vw 0 0;
  max-width: 90%;
  height: auto;
  transition: opacity 250ms;
}

main nav.nos-restaurants div.contenaires-image a img:hover {
  opacity: 0.7;
}

main nav.nos-restaurants div.contenaires-image .logo-nouveau {
  position: absolute;
  top: 4vw;
  right: 8vw;
  color: #008663;
  background: #99E2D0;
  padding: 1.75vw 4vw;
  border-radius: 0.75vw;
  font-size: 4vw;
  animation: zooming 2s infinite;
}

main nav.nos-restaurants div.contenaires-nom-et-ville {
  position: relative;
  margin: auto;
  background: #fff;
  border-radius: 0 0 4vw 4vw;
  max-width: 90%;
  margin-bottom: 4.5vw;
  box-shadow: 0 1.5vw 2vw #e6e6e6;
}

main nav.nos-restaurants div.contenaires-nom-et-ville h3 {
  font-size: 4.5vw;
  padding: 3vw 0vw  0vw 4vw;
}

main nav.nos-restaurants div.contenaires-nom-et-ville p:nth-child(4) {
  font-size: 4.5vw;
  padding: 1vw 0vw  5vw 4vw;
}

main nav.nos-restaurants div.contenaires-nom-et-ville .petit-coeur {
  display: inline-block;
  position: absolute;
  top: 6vw;
  right: 6vw;
  font-size: 6vw;
  cursor: pointer;
}

main nav.nos-restaurants div.contenaires-nom-et-ville .fa-heart {
  z-index: 1;
  opacity: 0;
  color: #9356D7;
}

main nav.nos-restaurants div.contenaires-nom-et-ville .fa-heart:hover {
  animation: coeur-remplissage 550ms ease-out forwards;
}

main nav.nos-restaurants div.contenaires-nom-et-ville .fa-heart-o {
  z-index: 1;
  color: grey;
}

main nav.nos-restaurants div.contenaires-nom-et-ville .ville {
  font-weight: 300;
  padding-top: 2vw;
}

footer {
  background: #353535;
  padding: 6vw 5vw 7vw 5vw;
  color: #fff;
  line-height: 1.8;
}

footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 4.75vw;
}

footer p {
  font-size: 4.25vw;
  margin-right: 2vw;
}

footer p .icons-footer {
  font-size: 3.15vw;
  padding: 0 6vw 0 1vw;
  width: 4vw;
}

footer p .contact-email {
  text-decoration: none;
  color: #fff;
}
