* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@-webkit-keyframes centrage-texte {
  0% {
  }
  100% {
    transform: translateY(20vh) scale(1.2);
    opacity: 1;
  }
}

@keyframes centrage-texte {
  0% {
  }
  100% {
    transform: translateY(20vh) scale(1.2);
    opacity: 1;
  }
}

@-webkit-keyframes animate-rings {
  0% {
    transform: translateZ(75px);
  }
  50% {
    transform: translateZ(-75px);
  }
  90% {
    transform: translateZ(75px);
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate-rings {
  0% {
    transform: translateZ(75px);
  }
  50% {
    transform: translateZ(-75px);
  }
  90% {
    transform: translateZ(75px);
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes chargement-texte {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes chargement-texte {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes continuer {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes continuer {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes apparition-home {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition-home {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes zooming {
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(1.1);
  }
  15%, 100%, 0% {
    transform: scale(1);
  }
}

@keyframes zooming {
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(1.1);
  }
  15%, 100%, 0% {
    transform: scale(1);
  }
}

@-webkit-keyframes coeur-remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes coeur-remplissage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes deroule-menus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes deroule-menus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #9356D7;
  font-family: "Roboto", sans-serif;
}

.container__title {
  font-size: 8vw;
  color: #fff;
  margin-bottom: 5vh;
  font-family: "Shrikhand", cursive;
  -webkit-animation: centrage-texte 2000ms 7000ms  forwards;
          animation: centrage-texte 2000ms 7000ms  forwards;
  opacity: 0;
}

.container__rings {
  position: relative;
  width: 160px;
  height: 160px;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(60deg);
  margin-bottom: 10vh;
}

.container__rings span {
  position: absolute;
  display: block;
  border: 5px solid #fff;
  box-shadow: 0 5px 0 #ccc,
 inset 0 5px 0 #ccc;
  box-sizing: border-box;
  border-radius: 50%;
  animation: animate-rings 3.5s ease-in-out 2 both alternate-reverse;
}

.container__rings span:nth-child(1) {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.container__rings span:nth-child(2) {
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.container__rings span:nth-child(3) {
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.container__rings span:nth-child(4) {
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.container__rings span:nth-child(5) {
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.container__rings span:nth-child(6) {
  top: 50px;
  left: 50px;
  bottom: 50px;
  right: 50px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.container__rings span:nth-child(7) {
  top: 60px;
  left: 60px;
  bottom: 60px;
  right: 60px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.container__messages {
  text-align: center;
  font-size: 5vw;
  color: #fff;
  margin-bottom: 10vh;
}

.container__messages--chargement {
  margin-bottom: 10vh;
  font-size: 4vw;
  opacity: 0;
  -webkit-animation: chargement-texte 2000ms 1500ms 3 backwards;
          animation: chargement-texte 2000ms 1500ms 3 backwards;
}

.container__messages--continuer a {
  text-decoration: none;
  position: relative;
}

.container__messages--continuer a i.fa-arrow-right {
  display: inline-block;
  color: #fff;
  font-size: 7vw;
  opacity: 0;
  padding: 3.75vw 4vw;
  border-radius: 50%;
  -webkit-animation: continuer 3s 6500ms infinite;
          animation: continuer 3s 6500ms infinite;
  position: relative;
  z-index: 1;
}

.container__messages--continuer a i.fa-arrow-right::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(175deg, #ff93e1, #a06bdc);
  box-shadow: 0 1vw 1vw #444444;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.container__messages--continuer a i.fa-arrow-right:hover::after {
  opacity: 1;
}
