@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@media all and (max-width: 668px) {
  body header {
    text-align: center;
  }
  body header h2.logo {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 8vw;
    padding: 4vw 0 1.5vw 0;
  }
  body header h2.logo a {
    text-decoration: none;
  }
  body header h2.logo a i.fa-arrow-left {
    display: inline-block;
    font-size: 5vw;
    position: relative;
    left: -19vw;
    padding: 3vw;
    z-index: 1;
    color: black;
  }
  body header h2.logo a i.fa-arrow-left::after {
    content: "";
    border-radius: 40%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: #efe6f9;
    box-shadow: 0 1vw 1.5vw #999999;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
  body header h2.logo a i.fa-arrow-left:hover::after {
    opacity: 1;
  }
  body section.bloc-image {
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }
  body section.bloc-image img {
    display: block;
    max-width: 106%;
    height: auto;
  }
  body main {
    margin-top: 58vw;
    background: #f6f6f5;
    border-radius: 11vw 11vw 0 0;
  }
  body main section.affiche h2 {
    /* titre du restaurant */
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    padding-top: 8.5vw;
    padding-bottom: 4.5vw;
    padding-left: 5vw;
    font-size: 7.5vw;
    position: relative;
  }
  body main section.affiche h2 i.petit-coeur {
    font-size: 6vw;
    position: absolute;
    right: 9vw;
    top: 11vw;
  }
  body main section.elements-menus {
    /* section entrees, plats, desserts */
    padding-bottom: 6vw;
  }
  body main section.elements-menus h2 {
    /* titres entrées, plats, desserts */
    font-weight: 300;
    padding: 0 0 3vw 6vw;
    font-size: 4.5vw;
    margin-bottom: 2.75vw;
  }
  body main section.elements-menus h2 span {
    /* mots demi-soulignés */
    padding-bottom: 1vw;
    border-bottom: 1vw solid #99E2D0;
  }
  body main section div {
    /*  blocs des entrées, plats, desserts + accompagnement + prix */
    background: #852020;
    width: 95%;
    margin: auto;
    margin-bottom: 4vw;
    border-radius: 4vw;
    padding: 3.5vw;
    box-shadow: 0 0.5vw 2vw #cfcfcf;
  }
  body main section div h3 {
    font-size: 4.75vw;
  }
  body main section div p:nth-child(2) {
    /* accompagnement de chaque assiette */
    font-weight: 300;
    padding-top: 1vw;
    font-size: 3.75vw;
  }
  body main section div p:nth-child(3) {
    /* les tarifs*/
    font-weight: bold;
    float: right;
    position: relative;
    top: -4vw;
    right: 3vw;
    font-size: 4vw;
  }
  body main section.commander {
    padding-top: 1vw;
    padding-bottom: 20vw;
    display: flex;
    justify-content: center;
  }
  body main section.commander button {
    font-size: 4.5vw;
    font-weight: 500;
    border-radius: 8vw;
    border: none;
    padding: 4vw 10vw;
    background: linear-gradient(175deg, #FF79DA, #9356D7);
    box-shadow: 3px 5px 7px silver;
    color: white;
    cursor: pointer;
    margin-top: 5vw;
    position: relative;
    z-index: 1;
  }
  body main section.commander button::after {
    content: "";
    border-radius: 8vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(175deg, #ff93e1, #a06bdc);
    background-color: #9356D7;
    box-shadow: 0 1vw 1.5vw #999999;
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
  body main section.commander button:hover::after {
    opacity: 1;
  }
  body footer {
    background: #353535;
    padding: 5.5vw 0 7.5vw 5vw;
    color: white;
    line-height: 1.6;
  }
  body footer h2 {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 5vw;
    padding-bottom: 4vw;
  }
  body footer p {
    font-size: 4.25vw;
    margin-right: 2vw;
  }
  body footer p .icons-footer {
    font-size: 3.5vw;
    padding-right: 6vw;
    width: 4vw;
  }
  body footer p .contact-email {
    text-decoration: none;
    color: white;
  }
}
