@charset "UTF-8";
@media screen and (min-width: 669px) {
  body {
    display: flex;
    flex-direction: column;
  }
  body header {
    box-shadow: 0 0.25rem 0.5rem #858585;
  }
  body header h1.logo {
    font-size: 2rem;
    padding: 1rem 0 0.5rem;
  }
  body header h1.logo a i.fa-arrow-left {
    font-size: 1.5rem;
    left: -22rem;
    padding: 0.9rem 1rem;
  }
  body section.bloc-image {
    position: relative;
    margin-top: 0.5rem;
  }
  body section.bloc-image img {
    display: block;
    max-width: 35%;
  }
  body main {
    margin-top: 1rem;
    padding-right: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: unset;
  }
  body main section.affiche {
    flex-basis: 100%;
  }
  body main section.affiche h2 {
    /* titre du restaurant */
    padding: 2vw 0  2vw 2.5vw;
    font-size: 2.5vw;
  }
  body main section.affiche h2 i.petit-coeur {
    font-size: 3vw;
    right: 9vw;
    top: 2vw;
  }
  body main section.elements-menus {
    /* section entrees, plats, desserts */
    padding: 1rem 1.25rem;
    flex: 1;
  }
  body main section.elements-menus h2 {
    /* titres entrées, plats, desserts */
    padding: 0 0 3vw 6vw;
    font-size: 2vw;
    margin-bottom: 1.25vw;
  }
  body main section.elements-menus h2 span {
    /* mots demi-soulignés */
    border-bottom-width: 0.5vw;
  }
  body main section div {
    /*  blocs des entrées, plats, desserts + accompagnement + prix */
    width: 105%;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    padding: 1.25vw;
    box-shadow: 0 0.25vw 1vw #cfcfcf;
  }
  body main section div:hover {
    cursor: pointer;
    box-shadow: 0 0.25rem 0.5rem #858585;
  }
  body main section div:hover p:nth-child(2) {
    overflow: hidden;
  }
  body main section div:hover p:nth-child(3) {
    transform: translateX(-4rem);
  }
  body main section div:hover p:nth-child(4) {
    transform: translateX(-30vw);
  }
  body main section div:hover p:nth-child(4) i.fa-check-circle {
    transform: rotateZ(-360deg) 900ms 300ms;
  }
  body main section div h3 {
    font-size: 1.55vw;
    font-weight: 500;
  }
  body main section div p:nth-child(2) {
    /* accompagnement de chaque assiette */
    padding-top: 0.5vw;
    font-size: 1.3vw;
  }
  body main section div p:nth-child(3) {
    /* les tarifs*/
    top: -1rem;
    right: 0vw;
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.5);
  }
  body main section div p:nth-child(4) {
    top: 0vw;
    right: -30vw;
    border-radius: 0 0.5rem 0.5rem 0;
    padding: 1rem;
    background-color: #99E2D0;
    color: #99E2D0;
  }
  body main section div p:nth-child(4) i.fa-check-circle {
    font-size: 1.5rem;
    z-index: 1;
  }
  body main section.commander {
    padding: 2rem 0 3rem;
    flex-basis: 100%;
    text-align: center;
  }
  body main section.commander button {
    margin-top: 2rem;
    font-size: 1.75vw;
    border-radius: 4vw;
    padding: 1.25vw 5vw;
    box-shadow: 0 5px 7px silver;
  }
  body main section.commander button::after {
    content: "";
    border-radius: 4vw;
    box-shadow: 0 5px 7px #777;
  }
  body main section.commander button:hover::after {
    opacity: 1;
  }
  body footer {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
  }
  body footer h2 {
    font-size: 2vw;
    flex: 1;
    padding: 0;
  }
  body footer p {
    font-size: 1.5vw;
    padding: 0 2vw;
  }
  body footer p .icons-footer {
    font-size: 1.25vw;
    padding-right: 3vw;
    width: 1vw;
  }
}
