@import './utils/variables'; 



@media all and (min-width: 1268px) { 


    header {
        box-shadow: 0 1rem 1.5rem #cfcfcf;
        margin-bottom: 1rem;

        h2.logo {
            font-size: 2.5rem;
            padding-top: 2rem;
        }
    }

    main {
        flex-direction: row;

        aside {
            // flex-basis: 30%;

            section.geolocalisation {
                padding: 1rem;

                h2 {  
                    font-size: 1rem;
                    
                    .material-icons {
                        font-size: 1.25rem;
                        margin-right: 1rem;
                    }
                }
            }
        
            section.presentations {
                padding: 2.5rem 1.5rem;

                h2:nth-child(1) {  // Réservez votre menu
                    font-size: 1.5rem;
                    padding-bottom: 3rem;
                }

                p:nth-child(2) {
                    font-size: 1.25rem;
                    padding-bottom: 4rem;  
                }

                button {
                    font-size: 1.25rem;
                    border-radius: 10rem;
                    padding: 1rem 2rem;
                    box-shadow: 0 5px 7px $shadow-color;

                    &::after {
                        box-shadow: 0 5px 7px $shadow-color-medium;
                    }
                }
            }

            section.utilisation {
                padding: 3rem 0 2rem;

                h2:nth-child(1) {  // Comment utiliser
                    font-size: 1.5rem;
                    padding-left: 6rem;
                    padding-bottom: 3.8vw;   
                }

                div.utilisation-application {
                    width: 85%;
                    border-radius: 1rem;
                    padding: 2rem  1rem;
                    margin-bottom: 2rem;
                    box-shadow: 0 0.5rem 0.75rem $shadow-color;
                    font-size: 1.15rem;

                    p {

                        .icons-utilisation {
                            margin: 0  2rem;
                            font-size: 1rem;
                        }

                        .fa-mobile-alt, .fa-tablet-alt {
                            display: none;
                        } 

                        .fa-desktop {
                            display: inline-block;
                        }
                    }

                    &::before {
                        padding: 0.5rem 0.75rem;
                        margin-right: 0.5rem;
                        font-size: 0.75rem;
                        left: 1rem;
                    }

                    &::after {
                        border-radius: 1rem;
                        box-shadow: 0 3px 7px #b3b3b3;
                        // opacity: 0;
                        // z-index: -1;
                        // transition: opacity 250ms;
                    }
                }
            }
        }

        nav.nos-restaurants {
            // flex-basis: 70%;
            // background: #f6f6f5 ;
            padding-top: 3.5rem;

            // display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            h2 {
                padding: 2rem 0 4rem;
                // padding-bottom: 2rem;
                padding-left: 4rem;
                font-size: 1.75rem;
                flex-basis: 100%;
            }

            div.restaurants-home {
                border: 1px solid green;
                margin-bottom: 2rem;
                padding-left: 2rem;
                // flex: 1 1 80%;

                display: flex;
                flex-direction: row;
            

                div.contenaires-image {
                    // position: relative;
                    // flex: 1 1 50%;
                    box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.3);
                    border-radius: 1rem 0 0 1rem;
                    a {

                        img {
                            display: block;
                            border-radius: 1rem 0 0 1rem;
                            max-width: 20%;
                            height: auto;
                        }
                    }

                    .logo-nouveau {
                        position: absolute;
                        top: 0.5rem;
                        right: 0.5rem;
                        // color: #008663;
                        // background: $couleur_tertiaire;
                        padding: 0.5rem 1rem;
                        border-radius: 0.5vw;
                        // transition: transform 200ms ease-in;
                        // transform:  scale;
                        font-size: 0.75rem
                    }
                    // .logo-nouveau:hover {
                    //     transform: scale(1.15);
                    // }
                }

                div.contenaires-nom-et-ville {
                    padding: 1.5rem 1.5rem;
                    // flex: 1 1 50%;
                    max-width: 25rem;
                    // background: white;
                    box-shadow: 0 0.5rem 0.75rem #4d4d4d;
                    border-radius: 0 1rem 1rem 0;
                    // max-width: 50%;

                    h3 {
                        font-size: 1.5rem;
                    }

                        p:nth-child(4) {
                        font-size: 1rem;
                    }

                    .petit-coeur {
                        // position: absolute;
                        top: 1rem;
                        right: 2rem;
                        font-size: 2rem;
                        // float: right;
                    }
                }
            }     
        }
    }

    footer {
        // flex-basis: 100%;
        // color: white;
        // background: #353535;
        display: flex;
        flex-direction: row;

        h2 {
            // font-family: $font_logo_titre ;
            // font-weight: $font_weight_medium;
            font-size: 1.5rem;
            padding: 1rem 1.5rem;
            flex: 1;
        }

        p {
            font-size: 1rem;
            margin-right: 1rem;
            padding-top: 1.5rem;
            padding-right: 2rem;

            .icons-footer {
                font-size: 0.75rem;
                padding-right: 1.25rem;
                width: 1rem;
            }
        }
    }
}
