

$couleur_primaire: #9356D7;
$couleur_secondaire: #FF79DA;
$couleur_tertiaire: #99E2D0;
$white_background: #ffffff;
$font_logo: 'Shrikhand', cursive;
$font_titre: 'Shrikhand', cursive;
$font_texte: 'Roboto', sans-serif;
$color_white: white;

$font_weight_bold: bold;
$font_weight_light: 300;
$font_weight_medium: 500;

$border_noire: 1px solid black;
$border_vert: 1px solid green;
$border_rouge: 1px solid red;


// @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* media querry valable pour smartphone*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#html-mobile {
    // width: 96%;
    margin: auto;
    text-align: center;


        header #logo-site {
            // width: 375px;
            // height: 63px;
            text-align: center;
            font-family: $font-logo;
            font-size: 7.5vw;
            padding-top: 2.8vw;
            padding-bottom: 1.6vw;
   
            background-color: $white_background;
            // border: $border_noire
        }

    #localisation {
        background:linear-gradient(#cfcfcf, 4%, #eaeaea);
        font-family: $font_texte;
        font-weight: 500;
        font-size: 4.0vw;
        padding: 3vw;
    
        .material-icons {
            font-size: 5vw;
            margin-right: 1.5vw;
    
        }
    }

    #presentations {

        padding-top: 10.3vw;
        padding-bottom: 14vw;
        background: #f6f6f6 ;
        // border: $border_noire;

         h2:nth-child(1) {
            font-family: $font_texte;
            font-weight: $font_weight_bold;
            font-size: 6.3vw;
            padding-bottom: 10.2vw;
            // border: $border_noire;
        }

         p:nth-child(2) {
            font-family: $font_texte;
            font-weight: $font_weight_light;
            // padding-left: 1vw;
            // padding-right: 1vw;
            font-size: 4.5vw;
            color: #656565;
            // border: $border_noire;
            margin-bottom: 7.5vw;
            
        }

         p:nth-child(3) {
            border-radius: 10vw;
            background-color: $couleur_primaire;
            padding: 4vw;
            background: linear-gradient( 175deg,$couleur_secondaire, $couleur_primaire);
            box-shadow: 3px 5px 7px rgb(192, 192, 192);
            color: red;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            color: $color_white;
            font-size: 4vw;
            font-family: $font_texte;
            font-weight: $font_weight_medium

        }
    }

    #principe {
        padding-top: 6vw;
        padding-bottom: 13vw;


    }






}



















img {
    width: 335px; 
    height:174px;
}
