$couleur_primaire: #9356D7;
$couleur_secondaire: #FF79DA;
$couleur_tertiaire: #99E2D0;
$font_texte: 'Roboto', sans-serif;
$font_logo_titre: 'Shrikhand', cursive;
$shadow-color: #888;
$shadow-color-medium: #666;


$font_weight_bold: bold;
$font_weight_light: 300;
$font_weight_regular: 400;
$font_weight_medium: 500;

$breakpoints: (
    tablet:  688px,
    desktop: 1268px
);