@import './../utils/variables'; 



@media all and (min-width: 1268px) { 


    header {
        box-shadow: 0 0.35rem 0.45rem $shadow-color;
        margin-bottom: 0.5rem;

        h1.logo {
            font-size: 2.5rem;
            padding-top: 1.5rem;
        }
    }

    main {
        display: flex;
        flex-direction: row;

        aside {
            // flex-basis: 30%;

            section.geolocalisation {
                padding: 1rem;

                h2 {  
                    font-size: 1rem;
                    
                    .material-icons {
                        font-size: 1.25rem;
                        margin-right: 1rem;
                    }
                }
            }
        
            section.presentations {
                padding: 2.5rem 1.5rem;

                h2:nth-child(1) {  // Réservez votre menu
                    font-size: 1.5rem;
                    padding-bottom: 2rem;
                }

                p:nth-child(2) {
                    font-size: 1.25rem;
                    padding-bottom: 2rem;  
                }

                button {
                    font-size: 1.25rem;
                    border-radius: 10rem;
                    padding: 1rem 2rem;
                    box-shadow: 0 5px 7px $shadow-color;

                }
            }

            section.utilisation {
                padding: 3rem 0 2rem;

                h2:nth-child(1) {  // Comment utiliser
                    font-size: 1.5rem;
                    padding-left: 6rem;
                    padding-bottom: 3.8vw;   
                }

                div.utilisation-application {
                    border-radius: 1rem;
                    padding: 3rem  1rem;
                    margin-bottom: 2rem;
                    box-shadow: 0 0.5rem 0.75rem $shadow-color;
                    font-size: 1.25rem;

                    p {

                        .icons-utilisation {
                            margin: 0  2rem;
                            font-size: 2rem;
                        }

                        .fa-mobile-alt, .fa-tablet-alt {
                            display: none;
                        } 

                        .fa-desktop {
                            display: inline-block;
                        }
                    }

                    &::before {
                        padding: 0.5rem 0.75rem;
                        margin-right: 0.5rem;
                        font-size: 0.75rem;
                        left: -1.25rem;
                        top: 3rem;
                    }

                    &::after {
                        border-radius: 1rem;
                        box-shadow: 0 3px 7px #b3b3b3;
                    }
                }
            }
        }

        nav.nos-restaurants {
            flex-basis: 75%;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;

            h2 {
                padding-bottom: 2rem;
                padding-left: 4rem;
                font-size: 1.75rem;
                flex-basis: 100%;
            }

            div.restaurants-home {
                margin-bottom: 3rem;
                padding: 0;
                display: flex;
                flex-direction: row;
            
                div.contenaires-image {

                    max-width: 35%;
                    box-shadow: 0 0.5rem 0.75rem #4d4d4d;
                    border-radius: 1rem 0 0 1rem;
                    a {

                        img {
                            display: block;
                            border-radius: 1rem 0 0 1rem;
                            max-width: 100%;
                        }
                    }

                    .logo-nouveau {
                        position: absolute;
                        top: 0.5rem;
                        right: 0.5rem;
                        padding: 0.5rem 1rem;
                        border-radius: 0.5vw;
                        font-size: 1.1rem;
                    }
                }

                div.contenaires-nom-et-ville {
                    margin: 0;
                    flex: 0.75;
                    box-shadow: 0 0.5rem 0.75rem #4d4d4d;
                    border-radius: 0 1rem 1rem 0;

                    h3 {
                        font-size: 1.5rem;
                    }

                        p:nth-child(4) {
                        font-size: 1.25rem;
                        padding: 0;
                    }

                    .petit-coeur {
                        top: 1rem;
                        right: 2rem;
                        font-size: 2rem;
                    }
                }
            }     
        }
    }

    footer {

        display: flex;
        flex-direction: row;

        h2 {
            font-size: 1.5rem;
            padding: 1rem 1.5rem;
            flex: 1;
        }

        p {
            font-size: 1rem;
            margin-right: 1rem;
            padding-top: 1.5rem;
            padding-right: 2rem;

            .icons-footer {
                font-size: 0.75rem;
                padding-right: 1.25rem;
                width: 1rem;
            }
        }
    }
}
