@import './../base/html-base';

@import './../utils/variables';  
@import './../utils/animation';

@import './../utils/mixins';


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $couleur-primaire;
    font-family: $font_texte;
    color: #fff;

    &__title {
        font-size: 8vw;
        color: #fff;
        margin-bottom: 5vh;
        font-family: $font-logo-titre;
        animation: centrage-texte 2000ms 7000ms  forwards;
        opacity: 0;
    }

    &__rings {
        position: relative;
        width: 160px;
        height: 160px;
        transform-style: preserve-3d;
        transform: perspective(500px) rotateX(60deg);
        margin-bottom: 10vh ;

        span {
            position: absolute;
            display: block;
            border: 5px solid #fff;
            box-shadow: 0 5px 0 #ccc,
                        inset 0 5px 0 #ccc;
            box-sizing: border-box;
            border-radius: 50%;
            animation: animate-rings 3.5s ease-in-out 2 both alternate-reverse ;

            &:nth-child(1) {
                @include span-design(0, 0, 0, 0, 0s);
                }
            &:nth-child(2) {
                @include span-design(10px,10px, 10px ,10px , 0.1s);
            }

            &:nth-child(3) {
                @include span-design(20px, 20px, 20px, 20px, 0.20s);
            }

            &:nth-child(4) {
                @include span-design(30px, 30px, 30px, 30px, 0.3s);

                }
            &:nth-child(5) {
                @include span-design(40px, 40px, 40px, 40px, 0.4s);
            }

            &:nth-child(6) {
                @include span-design(50px, 50px, 50px ,50px , 0.5s);
            }

            &:nth-child(7) {
                @include span-design(60px, 60px, 60px , 60px, 0.60s);
            }
        }
    } 
    
    &__messages {
        text-align: center;
        font-size: 5vw;
        color: #fff;
        margin-bottom: 10vh;
    
        &--chargement {
            margin-bottom: 10vh;
            font-size: 4vw;
            opacity: 0;
            animation: chargement-texte 2000ms 1500ms 3 backwards;
            color: #fff;
        }
    
        &--continuer {
            a {
                text-decoration: none;
                position: relative;
    
                i.fa-arrow-right {
                    display: inline-block;
                    color: #fff;
                    font-size: 7vw;
                    opacity: 0;
                    padding: 3.75vw 4vw;
                    border-radius: 50%;
                    animation: continuer 3s 6500ms infinite;
                    position: relative;
                    z-index: 1;

                    &::after {
                        content: "";
                        border-radius: 50%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: linear-gradient( 175deg,lighten($couleur_secondaire, 5), lighten($couleur_primaire, 5));
                        box-shadow: 0 1vw 1vw rgb(68, 68, 68);
                        opacity: 0;
                        z-index: -1;
                        transition: opacity 250ms;
                    }
                    
                    &:hover {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

