@import './../utils/variables';  
  

@media screen and (min-width: 1269px) {

    body {

        header {
            text-align: center;
            -webkit-box-shadow: 0 0.25rem 0.5rem $shadow-color;
                    box-shadow: 0 0.25rem 0.5rem $shadow-color;
            padding: 0.5rem 0;

            h1.logo {
                font-size: 2.5rem;
                padding: 0;

                a {
                    i.fa-arrow-left {
                        font-size: 1.75rem;
                        position: relative;
                        left: -36rem;
                    }
                }
            }
        }

        div.bloc-image {

            img {
                max-width: 25%;
            }
        }

        main {
            padding-right: 1vw;

            section.affiche {

                h2 {  /* titre du restaurant */
                    padding: 1.5rem 0 1.5rem 3rem;
                    font-size: 2rem;
                        
                    i.petit-coeur {
                            font-size: 1.5rem;  
                            left: 28rem; 
                            top: 2.5rem;                    
                    }
                }
            }

            section.elements-menus { /* section: entrees, plats, desserts */
                padding: 1rem ;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                        flex-direction: row;

                h2 {   /* titres entrées, plats, desserts */
                    padding: 0 2rem 1rem 2rem;
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    margin-right: 3rem;
                    width: 20%;

                    span { /* mots demi-soulignés */
                        padding-bottom: 0.5rem;
                        border-bottom: 0.25rem solid #99E2D0;
                        border-bottom-width: 0.25rem ;
                    }
                }
            }

            section div {   /*  blocs des entrées, plats, desserts + accompagnement + prix */
                width:50%;
                margin: 0 0.5rem 1rem 0.5rem;
                border-radius: 0.75rem;
                padding: 0.5rem 1.5rem;
                -webkit-box-shadow: 0 0.25rem 0.5rem $shadow-color;
                        box-shadow: 0 0.25rem 0.5rem $shadow-color;
                &:hover {
                    cursor: pointer;
                    -webkit-box-shadow: 0 0.5rem 1rem $shadow-color-medium;
                            box-shadow: 0 0.5rem 1rem $shadow-color-medium;

                    p:nth-child(2) {
                        overflow: hidden;
                    }

                    p:nth-child(3) {
                        -webkit-transform:  translateX(-5rem) ;
                            -ms-transform:  translateX(-5rem) ;
                                transform:  translateX(-5rem) ;
                    }
                    p:nth-child(4) {
                        -webkit-transform:  translateX(-4rem) ;
                            -ms-transform:  translateX(-4rem) ;
                                transform:  translateX(-4rem) ;
                    }
                }

                h3 {
                    font-size: 1.25rem;
                    font-weight: $font_weight_medium;
                }

                p:nth-child(2) {  /* accompagnement de chaque assiette */
                    padding-top: 1rem;
                    font-size: 1rem;
                }

                p:nth-child(3) {  /* les tarifs*/
                    top: -1rem;
                    right: 0;
                    font-size: 1.25rem;
                    color: rgba(0, 0, 0, 0.5);
                }

                p:nth-child(4) {
                    top: 0vw;
                    right: -4rem;
                    border-radius: 0 0.75rem 0.75rem 0;
                    width: 19%;
                    padding: 3rem;
                    background-color:$couleur_tertiaire;
                    -webkit-transition: -webkit-transform 600ms;
                    transition: -webkit-transform 600ms;
                    -o-transition: transform 600ms;
                    transition: transform 600ms;
                    transition: transform 600ms, -webkit-transform 600ms;
                    height: 100%;

                    i.fa-check-circle {
  
                        font-size: 2rem;
                    }
                }
            }

            div.commander {
                padding: 1rem 0 3rem 0;
                text-align: center;

                button {
                    font-size: 1.5rem;
                    font-weight: $font_weight_medium;
                    border-radius: 2rem;
                    border: none;
                    padding:  1rem 4rem;
                    background: -o-linear-gradient( 275deg,$couleur_secondaire, $couleur_primaire);
                    background: linear-gradient( 175deg,$couleur_secondaire, $couleur_primaire);
                    -webkit-box-shadow: 0 5px 7px rgb(192, 192, 192);
                            box-shadow: 0 5px 7px rgb(192, 192, 192);
                    color: white;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;

                    &::after {
                        content: "";
                        border-radius: 4vw;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: -o-linear-gradient( 275deg,lighten($couleur_secondaire, 5), lighten($couleur_primaire, 5));
                        background: linear-gradient( 175deg,lighten($couleur_secondaire, 5), lighten($couleur_primaire, 5));
                        background-color: $couleur_primaire;
                        -webkit-box-shadow: 0 5px 7px rgb(153, 153, 153);
                                box-shadow: 0 5px 7px rgb(153, 153, 153);

                        opacity: 0;
                        z-index: -1;
                        -webkit-transition: opacity 250ms;
                        -o-transition: opacity 250ms;
                        transition: opacity 250ms;
                    }

                    &:hover {
                        &::after {
                            opacity: 1;

                        }
                    }
                }
            }
        }

        footer {
            padding: 0.5rem 0 ;
            h2 {
                font-size: 2rem;
                padding: 0;
            }
            
            p {
                font-size: 1rem;
                padding:  0 0.75rem;

                .icons-footer {
                    font-size: 1rem;
                    padding-right: 2rem;
                    width: 0.5rem;
                }
            }
        }
    }
 }
