

$couleur_primaire: #9356D7;
$couleur_secondaire: #FF79DA;
$couleur_tertiaire: #99E2D0;
$font_logo: 'Shrikhand', cursive;
$font_titre: 'Shrikhand', cursive;
$font_texte: 'Shrikhand', cursive;


// @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* media querry valable pour smartphone*/




img {
    width: 335px; 
    height:174px;
}