
@media screen and (min-width: 1200px) { 
    // @font-face {
    //     font-family:'Roboto';
    //     src: url(./../../fonts/Roboto/Roboto-Regular.ttf);
    // }
    // @font-face {
    //     font-family: 'Shrikhand';
    //     src: url(./../../fonts/Shrikhand/Shrikhand-Regular.ttf);
    // }

    // @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
    /* media querry valable pour smartphone*/


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        // font-family: $font_texte;
        // margin: auto;
        // // text-align: center;
    }

    header {
        margin-bottom: 1vw;
        padding-bottom: 0.5vw;
        text-align: center;

        .fa-arrow-left {
            font-size: 5vw;
            float: left;
            margin-left: 5.5vw;
            margin-top: 5.5vw;
        }
        
        h2.logo {
            font-family: $font_logo_titre;
            font-size: 7.5vw;
            padding-top: 2.8vw;
            padding-bottom: 1.6vw;
            background-color: rgb(255, 255, 255);
        }
    }

    main {}
    
    footer {
        text-align: left;
        margin-top: 15vw;
        background: #353535;
        padding: 5vw 5vw 5vw 5vw;
        color: white;
        line-height: 1.8;

        h2 {
            font-family: $font_logo_titre ;
            font-weight: $font_weight_medium;
        }

        .icons-footer {
            font-size: 14px;
            margin-right: 10px;
        }

        .contact-mail:hover {
            cursor: pointer;

        }

    }
}

    









