

// &:nth-child(11) {
//     // @include span-design(100px, 100px, 100px ,100px , 0.40s);
//     @include span-design(100px, 100px, 100px ,100px , 1.0s);
// }


$number_rings: 15;
// $value-list: ($top-value, $left-value, $bottom-value, $right-value, $time-delay);


@mixin span-design($data-list) {
    top: $data-1;
    left: $left;
    bottom: $bottom;
    right: $right;
    animation-delay: $time-delay;
}

@for $ring from 1 through $number_rings {
    @include  nth-child#{$bar} {
        @include span-design(-list)
    }
}
