
// @font-face {
//     font-family:'Roboto';
//     src: url(./../../fonts/Roboto/Roboto-Regular.ttf);
// }
// @font-face {
//     font-family: 'Shrikhand';
//     src: url(./../../fonts/Shrikhand/Shrikhand-Regular.ttf);
// }

    $couleur_primaire: #9356D7;
    $couleur_secondaire: #FF79DA;
    $couleur_tertiaire: #99E2D0;
    $font_texte: 'Roboto', sans-serif;
    $font_logo_titre: 'Shrikhand', cursive;

    $font_weight_bold: bold;
    $font_weight_light: 300;
    $font_weight_400: 400;
    $font_weight_medium: 500;

    $border_noire: 1px solid black;
    $border_vert: 1px solid green;
    $border_rouge: 1px solid red; 

// @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
/* media querry valable pour smartphone*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font_texte;
}

@media all and (max-width: 668px) { 

    body {

        header {
            box-shadow: 0 0.25vw 1.5vw rgba(0, 0, 0, 0.337);
            text-align: center;
            position: relative;
            z-index: 1;

            h2.logo {
                font-family: $font_logo_titre;
                font-weight: $font_weight_medium;
                font-size: 8vw;
                padding-top: 3.2vw;
                padding-bottom: 2vw;
                background-color: rgb(255, 255, 255);
            }
        }

        main {
            aside {

                section.geolocalisation {
                    background:#eaeaea;
                    font-family: $font_texte;
                    padding: 3.7vw;
                    text-align: center;

                    h2 {  // nom ville géolocalisée
                        font-weight: $font_weight_medium;
                        font-size: 4.15vw;
                        cursor: pointer;

                    }
                    
                    .material-icons {
                        font-size: 5vw;
                        margin-right: 3vw;
                    }
                }
            
                section.presentations {
                    padding: 10vw 3vw 14vw;
                    background: #f6f6f6 ;
                    text-align: center;

                    h2:nth-child(1) {  // Réservez votre menu 
                        font-weight: $font_weight_bold;
                        font-size: 6.75vw;
                        padding-bottom: 10.2vw;
                    }

                    p:nth-child(2) {   // Phrase accroche
                        font-weight: $font_weight_light;
                        font-size: 5vw;
                        color: #656565;
                        margin-bottom: 8vw; 
                        width: 95%; 
                    }

                    button {   // Explorer nos restaurants 
                        display: inline-block;
                        font-size: 4.25vw;
                        font-weight: $font_weight_400;
                        border-radius: 7vw;
                        border: none;
                        background-color: $couleur_primaire;
                        padding:  4.5vw 7vw;
                        background: linear-gradient( 175deg,$couleur_secondaire, $couleur_primaire);
                        box-shadow: 0.25vw 1vw 2vw rgb(192, 192, 192);
                        color: red;
                        margin-left: auto;
                        margin-right: auto;
                        color: white;
                        cursor: pointer;
                    }
                }

                section.utilisation {
                    padding-top: 12.8vw;
                    padding-bottom: 11vw;
                    counter-reset: item;
                    position: relative;

                    h2:nth-child(1) {   // Comment utiliser
                        font-family: $font_texte;
                        font-weight: $font_weight_bold;
                        font-size: 6.5vw;
                        padding-left: 5vw;
                        text-align: left; 
                        padding-bottom: 6.8vw;           
                    }

                    div.utilisation-application {
                        background: #f6f6f6;
                        width: 85%;
                        margin: auto;
                        border-radius: 5vw;
                        padding: 7.25vw 6vw;
                        margin-bottom: 6vw;
                        box-shadow: 0vw 1.5vw 3vw rgb(230, 230, 230);
                        font-family: $font_texte;
                        font-size: 4.5vw;
                        font-weight: $font_weight_medium;

                        .icons-utilisation {
                            margin: 0 7vw 0 3vw ;
                            color: grey;
                            font-size: 5vw;
                        }

                        .fa-tablet-alt, .fa-desktop {
                            display: none;
                        } 

                        .fa-store, .fa-list-ul {
                            font-size: 4.5vw;
                        }

                        .fa-store { 
                            color: $couleur_primaire;
                            word-spacing: 2%;
                        }
                    }

                    div.utilisation-application:nth-of-type(3) {
                        background: #f7edfe;
                    }
                    
                    div.utilisation-application::before {
                        counter-increment: item;
                        content: counter(item) ;
                        background: grey;
                        padding: 1vw 2.25vw;
                        margin-right: 5vw;
                        display: inline-block;
                        border-radius: 50%;
                        font-family: $font_texte;
                        color: white;
                        font-size: 3.75vw;
                        font-weight: $font_weight_medium;
                        background: $couleur_primaire;  
                        position: absolute;
                        left: 2.5vw;
                    }
                }  
            }

            nav.nos-restaurants {
                background: #f6f6f5 ;
                padding: 15vw 0 12vw 0;
                text-align: left;

                h2 {    // Nos Restaurants
                    margin-left: 5vw;
                    padding-bottom: 5vw;
                }

                    div.contenaires-image {
                        position: relative;

                        a {

                            img {
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                                border-radius: 3vw 3vw 0 0;
                                max-width: 90%; 
                                // max-width: 50%; 
                                height: auto;
                            }
                        }

                        .logo-nouveau {
                            position: absolute;
                            top: 4vw;
                            right: 8vw;
                            color: #008663;
                            background: $couleur_tertiaire;
                            padding: 1.75vw 4vw;
                            border-radius: 0.75vw;
                            transition: transform 200ms ease-in;
                            transform:  scale();
                            font-size: 4vw;
                        }
                        .logo-nouveau:hover {
                            transform: scale(1.15);
                        }
                    }

                    div.contenaires-nom-et-ville {
                        position: relative;
                        margin: auto;
                        background: white;
                        border-radius: 0 0 4vw 4vw;
                        max-width: 90%;
                        margin-bottom: 4.5vw;
                        box-shadow: 0 1.5vw 3vw rgba(0, 0, 0, 0.124);


                        h3 {
                            font-size: 4.5vw;
                            padding: 3vw 0vw  0vw 4vw;

                        }

                        p:nth-child(4) {
                            font-size: 4.5vw;
                            padding: 1vw 0vw  5vw 4vw;

                        }

                        .petit-coeur {
                            position: absolute;
                            top: 6vw;
                            right: 6vw;
                            font-size: 6vw;
                        }

                        .fa-heart {
                            color: #9356D7;
                            display: none; 
                        }

                        .fa-heart-o:hover {
                            cursor: pointer;
                            color: #9356D7;
                        }  

                        .fa-heart-o:active 
                            &.fa-heart {
                                display: inline-block;
                            }
                            &.fa-heart-o {
                                display:none;
                            }
      

                        .ville {
                            font-weight: $font_weight_light;
                            padding-top: 2vw;
                        }
                    }
            }  
        }

        footer {
            background: #353535;
            padding: 6vw 5vw 7vw 5vw;
            color: white;
            line-height: 1.8;

            h2 {
                font-family: $font_logo_titre ;
                font-weight: $font_weight_medium;
                font-size: 4.75vw;
                // padding: 2vw;
            }
            
            p {
                font-size: 4.25vw;
                margin-right: 2vw;
                // padding-top: 2vw;

                .icons-footer {
                    font-size: 3.15vw;
                    padding-right: 6vw;
                    padding-left: 1vw;
                    width: 4vw;
                }
    
                .contact-email {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}
        








