@media all and (max-width: 768px) { 

    // @font-face {
    //     font-family:'Roboto';
    //     src: url(./../../fonts/Roboto/Roboto-Regular.ttf);
    // }
    // @font-face {
    //     font-family: 'Shrikhand';
    //     src: url(./../../fonts/Shrikhand/Shrikhand-Regular.ttf);
    // }


    $couleur_primaire: #9356D7;
    $couleur_secondaire: #FF79DA;
    $couleur_tertiaire: #99E2D0;
    $font_texte: 'Roboto', sans-serif;
    $font_logo_titre: 'Shrikhand', cursive;

    $font_weight_bold: bold;
    $font_weight_light: 300;
    $font_weight_medium: 500;

    $border_noire: 1px solid black;
    $border_vert: 1px solid green;
    $border_rouge: 1px solid red;


    // @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
    /* media querry valable pour smartphone*/


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: $font_texte;
        margin: auto;
        // // text-align: center;
    }

    header {
        box-shadow: 0 0.75vw 0.75vw #cfcfcf;
        margin-bottom: 1vw;
        padding-bottom: 0.5vw;
        text-align: center;
        
        h2.logo {
            font-family: $font_logo_titre;
            font-size: 7.5vw;
            padding-top: 2.8vw;
            padding-bottom: 1.6vw;
            background-color: rgb(255, 255, 255);
        }
    }

    main {
        aside {
            section.geolocalisation {
                background:#eaeaea;
                font-family: $font_texte;
                // font-weight: 400;
                font-size: 2.7vw;
                padding: 3vw;
                text-align: center;

                
                .material-icons {
                    font-size: 5vw;
                    margin-right: 3vw;
                }
            }

            section.presentations {
                padding-top: 9.5vw;
                padding-bottom: 14vw;
                background: #f6f6f6 ;
                text-align: center;

                h2:nth-child(1) {
                    font-family: $font_texte;
                    font-weight: $font_weight_bold;
                    font-size: 6.3vw;
                    padding-bottom: 10.2vw;
                }

                p:nth-child(2) {
                    font-family: $font_texte;
                    font-weight: $font_weight_light;
                    font-size: 4.5vw;
                    color: #656565;
                    margin-bottom: 7.5vw;  
                }

                p:nth-child(3) {
                    border-radius: 10vw;
                    background-color: $couleur_primaire;
                    padding: 4vw;
                    background: linear-gradient( 175deg,$couleur_secondaire, $couleur_primaire);
                    box-shadow: 3px 5px 7px rgb(192, 192, 192);
                    color: red;
                    margin-left: auto;
                    margin-right: auto;
                    width: 60%;
                    color: white;
                    font-size: 4vw;
                    font-family: $font_texte;
                    font-weight: $font_weight_medium
                }
            }

            section.mode-emploi {
                padding-top: 12.8vw;
                padding-bottom: 11vw;
                counter-reset: item;
                
                h2:nth-child(1) {
                    font-family: $font_texte;
                    font-weight: $font_weight_bold;
                    font-size: 6.3vw;
                    padding-left: 5vw;
                    text-align: left; 
                    padding-bottom: 6.8vw;           
                }

                div.mode-emploi-application {
                    background: #f6f6f6;
                    max-width: 85%;
                    margin: auto;
                    border-radius: 5vw;
                    padding: 4vw;
                    margin-bottom: 6vw;
                    box-shadow: 5px 7px 7px rgb(230, 230, 230);
                    font-family: $font_texte;
                    font-size: 4vw;
                    font-weight: $font_weight_medium;

                    .icons-mode-emploi {
                        margin-right: 20px;
                        color: grey;
                        font-size: 20px;
                    }
                }
                
                div.mode-emploi-application::before {
                    counter-increment: item;
                    content: counter(item) ;
                    background: grey;
                    padding: 1vw 2vw;
                    margin-right: 20px;
                    display: inline-block;
                    // position: relative;
                    border-radius: 50%;
                    font-family: $font_texte;
                    color: white;
                    font-size: 3.5vw;
                    font-weight: $font_weight_light;
                    background: $couleur_primaire;
                }
            }
        }

        nav.nos-restaurants {
                // background: #333;
                background: #f6f6f6 ;
                padding-top: 15vw;
                text-align: left;

                h2 {
                    text-align: left;
                    margin-left: 5vw;
                    padding-bottom: 5vw;
                }

                    div.contenaires-image {

                        img {
                            display: block;
                            margin: auto;
                            border-radius: 4vw 4vw 0 0;
                            width: 85vw; 
                            height: auto;
                        }
                    }

                    div.contenaires-nom-ville {
                        padding: 5vw;
                        margin: auto;
                        background: white;
                        border-radius: 0 0 4vw 4vw;
                        width: 85vw;
                        margin-bottom: 5vw;

                        .fa-heart-o {
                            font-size: 6vw;
                            float: right;
                            position: relative;
                            bottom: 3vw;
                        }

                        .fa-heart-o:hover {
                            cursor: pointer;
                        }  

                        .fa-heart-o:active {
                            background-color: #9356D7;;
                        }         


                        .ville {
                            font-weight: $font_weight_light;
                            padding-top: 5px;
                        }
                    }
        }
    }

    footer {
        text-align: left;
        margin-top: 15vw;
        background: #353535;
        padding: 5vw 5vw 5vw 5vw;
        color: white;
        line-height: 1.8;

        h2 {
            font-family: $font_logo_titre ;
            font-weight: $font_weight_medium;
        }

        .icons-footer {
            font-size: 3vw;
            padding-right: 5vw;
            width: 4vw;
        }

        .contact-email{
            text-decoration: none;
            color: white;
        }
    }
        
}








